@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
html {font-family: 'Inter', sans-serif;
}

body {
    background-color: lightgrey;
}

header {  
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
}

main {
    width: 80%;
    margin: 0 auto; 
    background-color : white;
    border-radius: 10px;
}   

 #logo {
    vertical-align: middle;
 }

 #logo-testo {
    vertical-align: middle;
    font-size: 1.2rem;
    font-weight: bold
 }

 /* #logo-testo2{
    vertical-align: middle;
    display: inline;
 } */

.btn {
    padding: 8px 4px;
    border-radius: 10px;
    border: 0;
}

.btn-active{
    background-color: aqua;
    color: white;
}

.btn-disabled {
    border: 0;
    border: 1px solid grey;
    color: black;
}


.box-top  {
border-bottom: 1px solid black;
 
}

.p-xl {
padding: 20px 30px;
}

li {
    list-style: none;
    line-height: 45px;
}

.list-title::before{
 content: '\25BE';
 color: blue;	
}

.under-list li::before{
    padding: 7px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.check::before {
content: ' \0474';
border: 1px solid rgb(0, 255, 68);
color: green;
}

.cross::before {
    content: ' \00D7';
    border: 1px solid rgb(255, 0, 0);
    color: red;
}

.under-list li::after{
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 20px;
}

.editorial::after {
background-color: aqua;
color: white;
content: 'editorial';
}

.q1-goals::after{
background-color: purple;
color: white;
content: 'q1goals'; 
}


.recruiting::after {
    background-color: green;
    color: white;
    content: 'recruiting'; 
}

.beautiful::after {
    background-color: yellowgreen;
    color: white;
    content: 'beautiful'; 
}

.website::after {
    background-color: goldenrod;
    color: white;
    content: 'website'; 
}